.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h3 {
    font-size: 24px;
    font-family: Georgia;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 20px;
    img {
        margin-right: 10px;
    }
}

p {
    color: #ffffff!important;
    font-size: 16px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 960px) {
    .heroContent {
        justify-content: center !important;
    }
}