h2 {
    color: #021041;
    font-size: 25px;
}

.pb-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    figure {
        margin: 0 10px;
    }
    .before, .after{
        position: relative;
        font-size: 14px;
        height: 1px;
        width: 100px;
        line-height: 1;
        color: #021041;
        background: #021041;
    }
    .before {
        span {
            position: absolute;
            left: -2px;
            top: -6px;
        }
        
    }
    .after {
        span {
            position: absolute;
            right: -2px;
            top: -6px;
        }
        
    }
}

p {
    text-align: center;
    background-color: #021041;
    padding: 20px;
    color: #fff!important;
    font-size: 18px;
    line-height: 20px;
}

@media only screen and (max-width: 1263px) {
    p {
        font-size: 16px;
    }
}