.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

figure {
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    .logo {
        max-width: 418px;
        width: 100%;
    }
}

p {
    color: #fff!important;
    font-size: 16px;
    em {
        font-size: 18px;
    }
}

.low-footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 5px 10px;
    background: transparent linear-gradient(273deg, #20316D 0%, #021041 100%) 0% 0% no-repeat padding-box;
    p {
        margin: 0;
        padding: 5px;
        font-size: 14px;
        line-height: 12px;
    };
}


@media only screen and (max-width: 490px) {
    .low-footer {
        justify-content: center;
        align-content: center;
        padding: 5px 10px;
        background: transparent linear-gradient(273deg, #20316D 0%, #021041 100%) 0% 0% no-repeat padding-box;
        p {
            margin: 0;
            padding-right: 10px;
            font-size: 12px;
        };
        div {
            justify-content: center;
            align-content: center;
            display: flex;
            flex-wrap: wrap;
        }
    }
  }