.bg-menu {
    background: transparent linear-gradient(90deg, #021041 0%, #20316D 100%) 0% 0% no-repeat padding-box;
}

.bg-footer{
    background: transparent linear-gradient(111deg, #021041 0%, #20316D 100%) 0% 0% no-repeat padding-box;
}

.logo-footer img{
    width: 320px;
}

.subscribe {
    color: #fff!important;
}


@media only screen and (max-width: 436px) {
    .logo-footer img{
        width: 200px;
    }
  }

  @media only screen and (max-width: 400px) {
    .logo {
            width: 125px!important;
        }
  }