
h2 {
    color: #021041;
    font-size: 25px;
}

h4 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 18px;
    padding: 0 20px;
}

.pb-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    figure {
        margin: 0 10px;
    }
    .before,
    .after {
        position: relative;
        font-size: 14px;
        height: 1px;
        width: 100px;
        line-height: 1;
        color: #021041;
        background: #021041;
    }
    .before {
        span {
            position: absolute;
            left: -2px;
            top: -6px;
        }
    }
    .after {
        span {
            position: absolute;
            right: -2px;
            top: -6px;
        }
    }
}

.intro {
    font-size: 18px;
    color: #282828;
}

.image {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
