.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 5;
    h2 {
        font-size: 48px;
        color: #F2F2F2;
    }
}

.pb-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    figure {
        position: relative;
        left: -10px;
        margin: 0 10px;
    }
    .before, .after{
        position: relative;
        font-size: 14px;
        height: 1px;
        width: 150px;
        line-height: 1;
        color: #F2F2F2;
        background: #F2F2F2;
    }
    .before {
        left: -10px;
        span {
            position: absolute;
            right: -2px;
            top: -6px;
        }
        
    }
    .after {
        span {
            position: absolute;
            right: -2px;
            top: -6px;
        }
        
    }
}

.banner-container{
    position: relative;
    background-size: cover;
    .bg {
        background: linear-gradient(90deg, rgba(2, 16, 65, 1), rgba(2, 16, 65, 0));
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        background-size: cover;
    }
}

@media only screen and (max-width: 960px) {
    .pb-icon {
        .before, .after{
            width: 50px;
        }
    }
    .title {
        h2 {
            font-size: 36px;
        }
    }
}

@media only screen and (max-width: 520px) {
    .pb-icon {
        .before, .after{
            width: 35px;
        }
    }
    .title {
        h2 {
            font-size: 28px;
        }
    }
}