.banner-container {
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
    
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: #2AABF2;
}

.pointer {
    cursor: pointer;
    transition: .7s box-shadow;
    &:hover {
        box-shadow: 3px 0px 10px #3f3f3f;
    }
}