h3 {
    color: #fff;
    font-weight: 300;
    font-style: italic;
}

h4 {
    color: #fff;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

li {
    color: #fff;
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
}