.bg {
    background: rgb(242,242,242);
    background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

.card {
    border: 3px solid #021041;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        color: #021041;
        font-weight: 300;
        font-size: 24px;
        margin: 0px 10px;
    }
}

.pb-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    figure {
        margin: 0 10px;
    }
    .before, .after{
        position: relative;
        font-size: 14px;
        height: 1px;
        width: 50px;
        line-height: 1;
        color: #021041;
        background: #021041;
    }
    .before {
        span {
            position: absolute;
            left: -2px;
            top: -6px;
        }
        
    }
    .after {
        span {
            position: absolute;
            right: -2px;
            top: -6px;
        }
        
    }
}

@media only screen and (max-width: 960px) {
    .title {
        h2 {
            font-size: 16px;
            line-height: 20px;
            margin: 0px 10px;
        }
    }
    .pb-icon {
        .before, .after{
            position: relative;
            font-size: 14px;
            height: 1px;
            width: 10px;
            line-height: 1;
            color: #021041;
            background: #021041;
        }
        .before {
            span {
                position: absolute;
                left: -2px;
                top: -6px;
            }
            
        }
        .after {
            span {
                position: absolute;
                right: -2px;
                top: -6px;
            }
            
        }
    }
}