
.related h2 {
    color: #021041;
    font-size: 25px;
}

.related .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.related h4 {
    color: #021041;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    padding: 0 20px;
    margin: 0px;
    padding: 0px;
}

.related em {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #7C7C7C;
    font-size: 12px;
}

.related .pb-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    figure {
        margin: 0 10px;
    }
    .before, .after{
        position: relative;
        font-size: 14px;
        height: 1px;
        width: 100px;
        line-height: 1;
        color: #021041;
        background: #021041;
    }
    .before {
        span {
            position: absolute;
            left: -2px;
            top: -6px;
        }
        
    }
    .after {
        span {
            position: absolute;
            right: -2px;
            top: -6px;
        }
        
    }
}

.related .intro {
    font-size: 18px;
    color: #282828;
}

.related .item{
    position: relative;
    margin-top: 50px;
    figure {
        top: -50px;
        position: relative;
        width: 217px;
        height: 213px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.related .theme--dark {
    background-color: rgb(2, 16, 65); border-color: rgb(2, 16, 65);
}

.related .card {
    background-color: #FFFFFF;
    transition: .7s background-color;
    width: 100%;
    &:hover {
        background-color: #F0F0F0;
    }
}

.banner-container .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 5;
    h2 {
        font-size: 48px;
        line-height: 50px;
        color: #F2F2F2;
    }
}

.banner-container .pb-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    figure {
        position: relative;
        left: -10px;
        margin: 0 10px;
    }
    .before, .after{
        position: relative;
        font-size: 14px;
        height: 1px;
        width: 150px;
        line-height: 1;
        color: #F2F2F2;
        background: #F2F2F2;
    }
    .before {
        left: -10px;
        span {
            position: absolute;
            right: -2px;
            top: -6px;
        }
        
    }
    .after {
        span {
            position: absolute;
            right: -2px;
            top: -6px;
        }
        
    }
}

.banner-container{
    position: relative;
    background-size: cover;
    .bg {
        background: linear-gradient(90deg, rgba(2, 16, 65, 1), rgba(2, 16, 65, 0));
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        background-size: cover;
    }
}

.shortDescription {
    font-size: 20px;
    color: #ffffff;
    h4 {
        margin: 20px 0;
    }
}

.cadate {
    p {
        color: #021041;
        font-style: italic;
        font-size: 18px;
    }
}

.share {
    p {
        color: #021041;
        font-style: italic;
        font-size: 14px;
        margin-right: 10px;
    }
}


@media only screen and (max-width: 960px) {
    .banner-container .pb-icon {
        .before, .after{
            width: 50px;
        }
    }
    .banner-container .title {
        h2 {
            font-size: 36px;
        }
    }
}