<template>
  <v-container class="mb-5 pa-5 bg" fluid v-editable="blok">
    
  </v-container>
</template>


<style lang="scss" scoped>
@import "./Similar.scss";
</style>

<script>
// 1. Require the Storyblok client
import StoryblokClient from 'storyblok-js-client'

// 2. Set your token
const token = 'vNbkVTgCgnArqEk6TG7LQwtt';

// 3. Initialize the client with the preview token so we can access our API easily
// from your space dashboard at https://app.storyblok.com
let storyapi = new StoryblokClient({
  accessToken: token
});

export default {
  name: 'Lenguage',
  props: ["blok"],
  data () {
    return {
      msg: '',
      story: null
    }
  },
  mounted () {
    // 4. Initialize the Storyblok Client Bridge to allow us to subscribe to events
    // from the editor itself.
    window.storyblok.init({
      accessToken: token
    })
    window.storyblok.on('change', () => {
      this.getBlogs(`${this.blok.lenguage}/blog-articles`, 'draft')
    })
    window.storyblok.pingEditor(() => {
      if (window.storyblok.isInEditor()) {
        // draft will be loaded if embeded in app.storyblok.com
        this.getBlogs(`${this.blok.lenguage}/blog-articles`, 'draft')
      } else {
        // published versions will be loaded outside of app.storyblok.com
        // so make sure to published your entries - otherwise this will be a 404
        this.getBlogs(`${this.blok.lenguage}/blog-articles`, 'published')
      }
    })
  },
  methods: {
    getBlogs(slug, version) {
      storyapi.get('cdn/stories/', {
        version: version,
        starts_with: slug,
        sort_by: "created_at:asc",
        filter_query: {
            category: {
                in: category
            }
        },
        page: 1,
        per_page:2
      })
      .then((response) => {
        this.story = response.data.stories;
      })
      .catch((error) => {
        console.log(error);
      })
    }
  }
}
</script>