.banner-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    color: #021041;
    font-size: 28px;
    font-weight: bold;
}

p {
    color: #282828;
    font-size: 18px;
    font-weight: 300;
}