$body-font-family: 'Georgia'!important;
$heading-font-family: 'Titillium Web';

@import "~vuetify/src/styles/styles.sass";

p {
    color:#2E2E2E!important;
    font-family: 'Georgia';
}

h2, h1, h3, h4, h5, h6, li {
    font-family: 'Georgia';
}

a.v-btn--active .v-btn__content{
    color: #2AABF2;
}

.pagination .v-btn__content {
    font-size: 22px;
}

.active .v-btn__content {
    text-decoration: underline;
    font-weight: bold;
}

a.theme--dark.v-btn--active::before{
    opacity: 0;
}

.v-btn__content {
    font-family: 'Georgia';
    font-size: 16px;
    text-transform: none!important;
}

.pb {
    .v-btn__content {
        font-style: italic;
    }
}

.v-carousel__controls__item.v-btn--active{
    color: #021041!important;
    &:before {
        opacity: 0!important;
    }
    .v-btn__content {
        .v-icon {
            opacity: 1!important;
            font-size: 20px!important;
        }
    }
}


.v-btn:not(.v-btn--outlined).secondary {
    color: #021041!important;
}
.v-list-item__title {
    font-family: 'Georgia';
    font-size: 16px!important;
}
.menu-footer .v-list-item__title {
    font-size: 16px!important;
}

.legal-footer .v-list-item__title {
    font-size: 12px!important;
}

.content-blog {
    p {
        font-size: 18px;
        color: #282828;
        margin-top: 30px;
    }
    img {
        width: 100%;
    }
    h1 {
        margin-top: 30px;
        color: #021041;
    }
}

.v-label, .v-messages__message, .v-snack__content {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 400px) {
    .lang {
            .v-btn__content {
                font-size: 12px;
            }
        }
    .lang.v-btn:not(.v-btn--round).v-size--x-small {
        padding: 0px 4px;
    }
  }

  .low-footer {
    .v-btn__content {
        font-size: 12px;
    }
  }